{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
 {{ Content_body.title }}
{% endblock %}


{% block content %}

        <div class="col py-2">
            <div id="content" name="content" class="main">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h1 class="mt-2 text-center">
                            Языки
                        </h1>
                        <p class="text-secondary">
                                Данная страничка записана с использованием JSON как хранилище данных
                        </p>
                        <hr class="mt-0 mb-4">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}