{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}<title>Main site</title>{% endblock %}

{% load bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load bootstrap_icons %}

{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
 {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
</head>
<body>
    <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                {% for base_list in Base%}
                    <span class="fs-5 d-none d-sm-inline">{{ base_list.name_menu}}</span>
                            {% endfor %}
                <a href="{% url 'main_page' %}">test</a>
                <ul class="nav nav-pills flex-column align-items-center align-items-sm-start" id="menu">

                                {% for base_list in Base%}
                                    {% for level_1 in base_list.menu_one.all%}
                                    <li class="nav-item">
                                    {% if level_1.menu_two.all %}
                                        <a href="#submenu{{ level_1.id}}" data-bs-toggle="collapse" class="nav-link px-0 align-middle dropdown-toggle">
                                    {% else %}
                                        <a href="{{level_1.address}}"  class="nav-link px-0 align-middle">
                                    {% endif %}

                                            <i class="fs-4 bi-speedometer2"></i>
                                            <span class="ms-1 d-none d-sm-inline">{{ level_1}}</span>
                                        </a>
                                    </li>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu{{ level_1.id}}" data-bs-parent="#menu">
                                        {% for level_2 in level_1.menu_two.all%}

                                            <li class="w-100">
                                                <a href="{{level_2.address}}" class="nav-link px-10"> {{ level_2.name}} </a>
                                            </li>
                                            {% empty %}

                                        {% endfor %}
                                    </ul>

                                    {% endfor %}
                            {% endfor %}

                    <li>

                         <span class="ms-1 d-none d-sm-inline">

                             <select class="selectpicker form-select bg-dark text-white text-decoration-none" data-width="fit" onchange="location = this.value;">
                                 {% for language in languages %}
                                     <option
                                             {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}
                                             value = "/{{ language.code }}/">{{ language.name_local }} </option>
                                 {% endfor %}
</select>
                         </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col py-2">
            <div id="content" name="content" class="main">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h1 class="mt-2 text-center">
                            {% for base_list in Base%}
                                {{ base_list.title}}
                            {% endfor %}
                        </h1>
                        <hr class="mt-0 mb-4">
                      {% block content %}

                      {% endblock %}
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
</body>
</html>