{% extends 'base.html' %}
{% load static %}

{% block title %}
 {{ Content_body.title }}
{% endblock %}

{%  block link_css %}
   <link rel="stylesheet" href="{% static 'main_page/css/body.css' %}">
{% endblock %}
{% block content %}
        <div class="col">
            <sub class="text-secondary">
                            {{ Content_body.data_json.header.info_technology }}
            </sub>
            <div id="content" name="content" class="main">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h1 class=" text-center">{{ Content_body.data_json.header.name }}</h1>
                        <hr class="mb-0">
                        <div>
                            <div class="container py-4 px-4">
                                <div class="row">
                                    <div class="col-lg-4 ">
                                        <div class="card-body text-center ">
                                            <img src="{% static 'main_page/image/Me.jpg' %}" alt="avatar"
                                                 class=" avatar rounded-circle">
                                            <h5 class="my-3">{{ Content_body.data_json.avatar.name }}</h5>
                                            <p class="text-muted mb-1">{{ Content_body.data_json.avatar.job }}</p>
                                            <p class="text-muted mb-4">{{ Content_body.data_json.avatar.geo }}</p>
                                        </div>
                                    </div>
                                    <div class="  col-lg-8 p-3">
                                        <div class="card-body text-left">
                                            <p>{{ Content_body.data_json.description_me.first_paragraph }}</p>
                                            <p>{{ Content_body.data_json.description_me.second_paragraph }} </p>
                                            <p>{{ Content_body.data_json.description_me.third_paragraph }}</p>
                                            <p>{{ Content_body.data_json.description_me.fourth_paragraph }}</p>
                                            <p>{{ Content_body.data_json.description_me.fifth_paragraph }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row flex-fill">
                                    <h2 class=" text-center">{{ Content_body.data_json.technology_stack.name }}</h2>
                                    <div class="card col-lg-12 col-md-6">
                                        <div class="card-body ">
                                            <section class="main">
                                                {% for key in Content_body.data_json.technology_stack.stacks.items%}
                                                <div class="row justify-content-center">
                                                      <div class="col-sm-6">
                                                        <h4 class="h5">
                                                            {% for index in key%} {{ index.name }} {% endfor %}
                                                        </h4>
                                                    </div>
                                                <div class="col-sm-4 py-2">
                                                       {% for index in key%}
                                                           {% for zrada,value in index.group_technologies.items%}
                                                                  <span class="badge bg-secondary">{{value}}</span>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                    {% endfor %}
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}